@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#section {
  height: 800px;
  background-image: url(../images/clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

/* #right-data{
    background-image: ;
} */

/* .weather-bg{
    background-color: #17f9f2;
    background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
} */
